services:
  searxng:
    image: searxng/searxng
    container_name: searxng
    environment:
      - BASE_URL=http://localhost:8080/
      - INSTANCE_NAME=SearXNG
    volumes:
      - searxng:/etc/searxng
    ports:
      - 8080:8080
    restart: unless-stopped
  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis:/data

volumes:
  searxng:
  redis:
