{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .taps.linux.brew -}}
tap {{ . | quote }}
{{ end -}}
EOF

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
