theme = OneHalfDark
window-padding-x = 0
window-padding-y = 0
font-family = "JetBrains Mono Nerd Font"
font-style = "Medium"
window-decoration = false
confirm-close-surface = false
cursor-invert-fg-bg = true

{{- if eq .chezmoi.hostname "work-laptop" }}
font-size = 14
{{- end }}

{{- if eq .chezmoi.hostname "desktop-sericea" }}
font-size = 14
{{- end }}

{{- if eq .chezmoi.hostname "laptop-sericea" }}
font-size = 16
{{- end }}
