{
  "window.titleBarStyle": "custom",
  "editor.fontFamily": "'JetBrains Mono'",
  {{- if eq .chezmoi.hostname "desktop-sericea" }}
  "editor.fontSize": 16,
  {{- end }}
  {{- if eq .chezmoi.hostname "work-laptop" }}
  "editor.fontSize": 14,
  {{- end }}
  "editor.lineNumbers": "relative",
  "editor.formatOnSave": true,
  "files.autoSave": "afterDelay",
  "vim.leader": "<space>",
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "before": ["<leader>", "f", "w"],
      "commands": ["livegrep.search"]
    },
    {
      "before": ["<leader>", "f", "f"],
      "commands": ["workbench.action.quickOpen"]
    },
    {
      "before": ["<leader>", ","],
      "commands": ["workbench.action.navigateBack"]
    },
    {
      "before": ["<leader>", "."],
      "commands": ["workbench.action.navigateForward"]
    },
    {
      "before": ["<leader>", "/"],
      "commands": ["editor.action.commentLine"],
      "modes": ["normal", "visual"]
    },
    {
      "before": ["<leader>", "q"],
      "commands": ["workbench.action.closeOtherEditors"]
    },
    {
      "before": ["K"],
      "commands": ["editor.action.showHover"]
    },
    {
      "before": ["<C-d>"],
      "after": ["<C-d>", "z", "z"]
    },
    {
      "before": ["<C-u>"],
      "after": ["<C-u>", "z", "z"]
    },
    {
      "before": ["n"],
      "after": ["n", "z", "z", "z", "v"]
    },
    {
      "before": ["N"],
      "after": ["N", "z", "z", "z", "v"]
    },
    {
      "before": ["G"],
      "after": ["G", "z", "z", "z", "v"]
    },
    {
      "before": ["|"],
      "commands": ["workbench.action.splitEditorRight"]
    },
    {
      "before": ["\\"],
      "commands": ["workbench.action.splitEditorDown"]
    },
    {
      "before": ["<leader>", "s"],
      "after": [
        ":",
        "%",
        "s",
        "/",
        "\\",
        "<",
        "<C-r>",
        "<C-w>",
        "\\",
        ">",
        "/",
        "<C-r>",
        "<C-w>",
        "/",
        "g",
        "I"
      ],
      "silent": true
    },
    {
      "before": ["<leader>", "e"],
      "commands": ["workbench.action.toggleSidebarVisibility"]
    }
  ],
  "vim.visualModeKeyBindings": [
    {
      "before": ["<leader>", "y"],
      "after": ["\"", "+", "y"]
    },
    {
      "before": ["<leader>", "p"],
      "after": ["\"", "_", "d", "P"]
    }
  ],
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "workbench.colorTheme": "Gruvbox Dark Medium",
  "extensions.experimental.affinity": {
    "asvetliakov.vscode-neovim": 1
  },
  "vscode-neovim.neovimExecutablePaths.linux": "/var/home/linuxbrew/.linuxbrew/bin/nvim",
  "typescript.updateImportsOnFileMove.enabled": "always",
  "crashReporting.enabled": "off",
  "terminal.external.linuxExec": "ghostty",
  "terminal.integrated.defaultProfile.linux": "zsh",
  "terminal.integrated.profiles.linux": {
    "bash": {
      "path": "bash",
      "icon": "terminal-bash"
    },
    "zsh": {
      "path": "zsh"
    },
    "fish": {
      "path": "fish"
    },
    "tmux": {
      "path": "tmux",
      "icon": "terminal-tmux"
    },
    "pwsh": {
      "path": "pwsh",
      "icon": "terminal-powershell"
    }
  },
  "editor.formatOnType": true,
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "latex-workshop.formatting.latex": "latexindent",
  "latex-workshop.latex.recipe.default": "latexmk (xelatex)",
  "[latex]": {
    "editor.defaultFormatter": "James-Yu.latex-workshop"
  },
  "files.exclude": {
    "**/__pycache__/": true
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "window.zoomLevel": 1,
  "cursor.cpp.disabledLanguages": ["plaintext"],
  "ansible.validation.lint.path": "/home/linuxbrew/.linuxbrew/bin/ansible-lint",
  "[dockerfile]": {
    "editor.defaultFormatter": "ms-azuretools.vscode-docker"
  }
}
