# Set default shell
{{ if eq .chezmoi.os "linux" -}}
set -g default-shell /home/linuxbrew/.linuxbrew/bin/nu
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
set -g default-shell /opt/homebrew/bin/nu
{{ end -}}

# Set quick escape time
set -s escape-time 0

# Allow image previews
set -g allow-passthrough on

set-option -g set-clipboard on

# set -ga update-environment TERM
# set -ga update-environment TERM_PROGRAM

# Prevent tmux from changing theme
# set-option -a terminal-features 'xterm-kitty:RGB'
# set-option -a terminal-overrides 'xterm-kitty:Tc'

set -g default-terminal "tmux-256color"
set-option -ag terminal-overrides ",xterm-256color:RGB"

# Set prefix
{{ if eq .chezmoi.os "linux" -}}
unbind C-b
set -g prefix M-n
bind M-n send-prefix
{{ end -}}
set -g status-style 'bg=#282828 fg=#ebdbb2'

# Hide status bar
set -g status on

# Start windows and panes at 1
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# Set v and y to begin selection and copy in copy-mode-vi
set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel

# Key bindings for pane switching
bind-key -n C-Left select-pane -L
bind-key -n C-Right select-pane -R
bind-key -n C-Up select-pane -U
bind-key -n C-Down select-pane -D

# Key bindings for window switching
bind-key N previous-window

# Do not close window when pane is closed
set -g detach-on-destroy off
set-option -g history-limit 50000
set-option -g focus-events on

# Switch to last client
bind-key -r , switch-client -l

bind-key -r F run-shell "tmux neww ~/.local/bin/tmux-sessionizer"  
bind-key -r W run-shell "tmux neww ~/.local/bin/tmuxp-sessions"

bind-key -r V run-shell "~/.local/bin/tmux-sessionizer ~/.config/nvim nvim"
bind-key -r B run-shell "~/.local/bin/tmux-sessionizer ~/.local/bin"
bind-key -r h run-shell "~/.local/bin/tmux-sessionizer main"
bind-key -r Y run-shell "~/.local/bin/tmux-sessionizer yt yt"
bind-key -r S run-shell "~/.local/bin/tmux-sessionizer ssh sshs"
bind-key -r E run-shell "~/.local/bin/tmux-sessionizer Ex yy"
bind-key -r O run-shell "~/.local/bin/tmux-sessionizer ~/Syncthing/orgfiles nvim"

# Set up battery status
set -g @battery-status 'cat /sys/class/power_supply/BAT0/capacity'
set -g status-right '#(cat /sys/class/power_supply/BAT0/capacity)% | %a %h-%d %H:%M '
